* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: hsl(220, 50%, 50%);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.to-do-icon {
  width: clamp(3rem, 50%, 4rem);
}
